body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px; /* Adjust this value as needed */
    max-height: 80vh; /* Limit the height of the form */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Optional: Add some padding for aesthetics */
}

   
input[type="text"], input[type="file"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
h2 {
    text-align: center;
}